{% extends "base.html" %}
{% block content %}
<div class="introduction">
    <p>Expanding the possibilities <br> of the 3x3 tic tac toe!</p>
</div>

<div class="select">
    <form  action="/tic-tac-toe" method="POST">
        <select name="n_times_n">
            <option value="3">3×3</option>
            <option value="4">4×4</option>
            <option value="5">5×5</option>
            <option value="6">6×6</option>
        </select>
        <input type="submit" value="GAME START">
    </form>
</div>
{% endblock %}